*.exe
/.vscode
.obsidian
*.json
./SJTU_CS0501H/course_notes/.obsidian/workspace.json
SJTU_MATH1101/course_notes/
SJTU_CS0501H/code/libgcc_s_seh-1.dll
SJTU_CS0501H/code/libstdc++-6.dll
SJTU_CS0501H/code/libwinpthread-1.dll
SJTU_MATH1101/course_notes/.obsidian
SJTU_CS0501H/course_notes/.obsidian